<!DOCTYPE html>
<html>
<head>
  <title>PhotoTagger</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if !current_user.nil? %>
  <ul>
    <li>Logged in as: <%= current_user.username %></li>
    <li><%= button_to "Logout", session_url, :method => :delete %></li>
  </ul>

  <script type="application/json" id="bootstrapped_user_json">
    <%= current_user.id.to_json.html_safe %>
  </script>
  <script>
    CURRENT_USER_ID = JSON.parse($("#bootstrapped_user_json").html())
  </script>
<% end %>

<%= yield %>

</body>
</html>
